<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <!--<system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IChatService" />
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://192.168.1.3:9191/chat" binding="netTcpBinding"
          bindingConfiguration="NetTcpBinding_IChatService" contract="IChatService"
          name="NetTcpBinding_IChatService">

        <identity>
          --><!--<userPrincipalName value="Asus\Lawrence" />--><!--
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>-->

  <system.serviceModel>
    <client>
      <endpoint name="NetTcpBinding_IChatService"
                contract="IChatService"
                binding="netTcpBinding"
                address="net.tcp://192.168.1.3:9191/"
                bindingConfiguration="chat"/>
    </client>
    <bindings>
      <netTcpBinding>
        <binding name="chat" sendTimeout="00:00:05" portSharingEnabled="true">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>

</configuration>